@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/webfonts/IranYekan/iranyekanweblight.eot");
  src: url("./assets/webfonts/IranYekan/iranyekanweblight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/webfonts/IranYekan/iranyekanweblight.woff2") format("woff2"),
    url("./assets/webfonts/IranYekan/iranyekanweblight.woff") format("woff"),
    url("./assets/webfonts/IranYekan/iranyekanweblight.ttf") format("truetype");
}

:root {
  --bs-body-font-family: IranYekan, sans-serif;
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: rgba(255, 255, 255, 0.75);
  --bs-body-bg: #273136;
}

*,
::after,
::before {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
